@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: #000;
  --primary-color: #243146;
  --button-color: #0057d1;
  --border-color: #00c28b;
  --secondary-text: #666666;

  /* Status colors */
  --trip-status: #d7e3fe;
  --trip-status-text: #24428a;
  --delayed: #d7e3fe;
  --delayed-text: #cc3333;
  --on-time: #d7e3fe;
  --on-time-text: #008f66;
  --progress: #00c28b;
  --other-status: #ffecdb;
  --other-status-text: #d97f30;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
